{% extends 'navbar.html' %}
{% load static %} 
{% block content %} 
   
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Statistics</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ daily_orders }}</h3>

                <p>Daily Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>315<sup style="font-size: 20px"></sup></h3>

                <p>Monthly Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>150 $</h3>

                <p>Daily Income</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>5124 $</h3>

                <p>Monthly income</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-12">
          <div class="col-12 info-box mb-3 bg-warning">
              <span class="info-box-icon"><i class="fas fa-tag"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Muvaffaqiyatli yetkazilgan buyurtmalar</span>
                <span class="info-box-number">{{delivered_orders}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="<col-12> info-box mb-3 bg-success">
              <span class="info-box-icon"><i class="far fa-heart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text"> Bizga ishonch bildirgan mijozlar soni </span>
                <span class="info-box-number">92,050</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
       
        <!-- /.row (main row) -->
         <div class="row">
          <div class="col-md-6">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Mijozlar soni statistikasi</h3>
                <div class="card-tools">
                    <button type="button" id="day_user" onclick="hidshow('day_user', 'month_user', 'myChart', 'myChart_month')" class="btn btn-tool btn-xs">Daily</button>
                    <button type="button" id="month_user" onclick="hidshow('month_user', 'day_user', 'myChart_month', 'myChart')" class="btn btn-tool btn-xs" hidden>Monthly</button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="myChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  <canvas id="myChart_month" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;" hidden></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-6">
            <!-- LINE CHART -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Buyurtmalar soni statistikasi</h3>

                <div class="card-tools">
                    <button type="button" id="day_order" onclick="hidshow('day_order', 'month_order', 'myChart1', 'myChart1_year')" class="btn btn-tool btn-xs">Monthly</button>
                    <button type="button" id="month_order" onclick="hidshow('month_order', 'day_order', 'myChart1_year', 'myChart1' )" class="btn btn-tool btn-xs" hidden>Daily</button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="myChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  <canvas id="myChart1_year" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;" hidden></canvas>

                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


          </div>
          <!-- /.col (RIGHT) -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  function hidshow(hid, show, hid1, show1){
        $('#' + hid).attr("hidden",true);
        $('#' + show).attr("hidden",false);
        $('#' + hid1).attr("hidden",true);
        $('#' + show1).attr("hidden",false);
  }


  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'August', 'Sept', 'Oct', 'Nov', 'Dec'],
          datasets: [{
            label: "this year",
            data : [{% for item in this_year %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(0, 98, 228, 0.6)',
            borderColor: 'rgba(0, 127, 228, 1)',
            borderWidth: 1
          },
          {
            label: "last year",
            data : [{% for item in last_year %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(42, 58, 98, 0.6)',
            borderColor: 'rgba(42, 58, 96, 0.6)',
            borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  const ctz = document.getElementById('myChart_month').getContext('2d');
  const myChart_month = new Chart(ctz, {
      type: 'bar',
      data: {
        labels : [{% for i in day %}{{ i }},{% endfor %}],
          datasets: [{
            label: "Daily",
            data : [{% for item in client_l_day %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(0, 98, 228, 0.6)',
            borderColor: 'rgba(0, 127, 228, 1)',
            borderWidth: 1
          }],

      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  const cty = document.getElementById('myChart1').getContext('2d');
  const myChart1 = new Chart(cty, {
      type: 'line',
      data: {
        labels : [{% for i in day %}{{ i }},{% endfor %}],
          datasets: [{
            label: "this month",
            data : [{% for item in order_daily %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }],

      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  const ctg = document.getElementById('myChart1_year').getContext('2d');
  const myChart_month_or = new Chart(ctg, {
      type: 'line',
      data: {
        labels : ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'August', 'Sept', 'Oct', 'Nov', 'Dec'],
          datasets: [{
            label: "this year",
            data : [{% for item in this_year_order %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }],

      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
{% endblock %}

